<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ugmonk</title>
	</head>
	<body>
		<header class="reclama">
			<p class="r">📦 Final Stock - Up to 50% off select items</p>
			<form>
  				<button>Shop the Sale</button>
			</form>
		</header>
		<header class="glav">
			<img src="Group 16.png" alt="logo" class='logo'>
			<ul class='s1'>
				<li><a href=''>Men</a></li>
				<li><a href=''>Women</a></li>
				<li><a href=''>Objects</a></li>
				<li><a href=''>Analog</a></li>
			</ul>
			<ul class='s2'>
				<li><a href=''>Journal</a></li>
				<li><a href=''>Search</a></li>
				<li><a href=''>Login</a></li>
				<li><a href=''><img src="Frame.png" alt="corzina"></a></li>
			</ul>
		</header>
		<main>
			<div class="imageContainer">Analog: The Simplest Productivity System</div>
{% comment %} фоном сделать нужную картинку {% endcomment %}
			<div class="catalog">
				<div class="xz">
					<ul>
						<li>New Arrivals</li>
						<li>Final Stock</li>
						<li>Best Sellers</li>
						<li>Clothing</li>
						<li>Objects</li>
						<li>Face Masks</li>
					</ul>
				</div>
				<div class="cart">
					<table style="width:100%">
					<tr>
						<td><img src="1.png"><div class="naz">Preorder - Analog Starter Kit</div><div class="tsena">$98.00 $79.00</div></td>
						<td><img src="2.png"><div class="naz">Preorder - Analog Cards</div><div class="tsena">$39.00</div></td>
						<td><img src="3.png"><div class="naz">Preorder - Analog Travel Case</div><div class="tsena">$32.00</div></td>
						<td><img src="1.png"><div class="naz">Preorder - Analog Wood Card Holder</div><div class="tsena">$59.00</div></td>
					</tr>
						<td><img src="4.png"><div class="naz">Modus Operandi - Artist Collab</div><div class="tsena">$126.00 $120.00</div></td>
						<td><img src="5.png"><div class="naz">Modus Operandi 01 - Artist Collab</div><div class="tsena">$42.00</div></td>
						<td><img src="6.png"><div class="naz">Modus Operandi 03 - Artist Collab</div><div class="tsena">$42.00</div></td>
						<td><img src="7.png"><div class="naz">Modus Operandi 02 - Artist Collab</div><div class="tsena">$42.00</div></td>
					<tr>
						<td><img src="r8.png"><div class="naz">Kinto Travel Tumbler</div><div class="tsena">$35.00</div></td>
						<td><img src="8.png"><div class="naz">Circular</div><div class="tsena">$36.00</div></td>
						<td><img src="9.png"><div class="naz">Facet</div><div class="tsena">$36.00</div></td>
						<td><img src="10.png"><div class="naz">Rain</div><div class="tsena">$36.00</div></td>
					</tr>
					<tr>
						<td><img src="11.png"><div class="naz">Hollow</div><div class="tsena">$36.00</div></td>
						<td><img src="12+.png"><div class="naz">Face Mask</div><div class="tsena">$10.00</div></td>
						<td><img src="13+.png"><div class="naz">Ripple Effect</div><div class="tsena">$36.00</div></td>
						<td><img src="14.png"><div class="naz">Premium Leather Mousepad XL</div><div class="tsena">$52.00</div></td>
					</tr>
					<tr>
						<td><img src="15.png"><div class="naz">Shoes Like Pottery</div><div class="tsena">$165.00</div></td>
						<td><img src="16.png"><div class="naz">Men's Essential Tee</div><div class="tsena">$96.00 $89.00</div></td>
						<td><img src="17.png"><div class="naz">Leather Coasters</div><div class="tsena">$18.00</div></td>
						<td><img src="18.png"><div class="naz">Gather Basic Set</div><div class="tsena">SOLD OUT</div></td>
					</tr>
				</div>
				<button>Shop New Arrivals →</button>
			</div>
			<div class="bros">
				<div class="container">
					<p>Final Stock - Up to 50% Off</p>
					<a href="">Shop the sale →</a>
					<img src="vv.png" alt="veshi">
				</div>
			</div>
			<div class="vb">
				<p>Our mission is to create simple, beautiful objects that combine form and function.</p>
				<div class="men">
					<img src="men.png" alt="men">
					<a href="">Shop Mens →</a>
				</div>
				<div class="women">
					<img src="wm.png" alt="women">
					<a href="">Shop Womens →</a>
				</div>
				<div class="objects">
					<img src="ob.png" alt="objects">
					<a href="">Shop Objects →</a>
				</div>
			</div>
			<div class="bros2">
				<div class="container2">
					<h2>Gather</h2>
					<p>The minimal, modular desk organizer that cuts through the clutter</p>
					<a href="">Shop Gather →</a>
					<img src="hh.png" alt="veshi">
				</div>
			</div>
			<div class="imageContainer2">
				<p>A design studio in Downingtown, PA, creating and curating products that combine form & function</p>
				<a href="">Read Our Story</a>
			</div>
{% comment %} фоном сделать нужную картинку {% endcomment %}
		</main>
		<footer>
			<div class="otvet">
				<h2>Stay in the loop</h2>
				<p>Be the first to know when new products drop and get behind-the-scenes content straight from Ugmonk’s founder.</p>
				<form action="send.php" method="post">
				<input type="text" name="email" placeholder="Enter your email">
				<input type="submit" value="→">
				</form>
			</div>
			<div class="contacts">
				<table style="width:30%">
 				<tr>
    				<td>Customer Service</td>
					<td>About</td>
				</tr>
				<tr>
					<td>Help / FAQ</td>
					<td>Our Store</td>
				</tr>
					<td>Returns & Exhanges</td>
					<td>Shop</td>
 				</tr>
 				<tr>
				 	<td>Sizing</td>
					<td>Journal</td>
				</tr>
				<tr>
    				<td>Gift Cards</td>
					<td>About Our Tees</td>
				</tr>
				<tr>
					<td>Contact Us</td>
					<td>Reviews</td>
				</tr>
			</div>
			<div class="icons">
				<p>© Ugmonk 2021</p>
				<p>All images and content may not be used without permission</p>
				<img src="u.png" alt="u">
				<div class="socialmedia">
					<img src="in.png" alt="inst">
					<img src="fc.png" alt="facebook">
					<img src="tv.png" alt="twitter">
				</div>
			</div>
		</footer>
	</body>
</html>